@font-face {
	font-family: "Geo";
	src: url("./assets/fonts/Geo-Regular.ttf") format("truetype");
	font-display: swap;
}

:root {
	--font: Geo, system-ui, Arial, sans-serif;
	--title-font-size: 48px;
	--text-font-size: 32px;
}

:root[data-theme="dark"] {
	--read-color: #ffffff;
	--read-secondary-color: #acacac;
	--read-tertiary-color: #808080;
	--background-color: #222222;
}

:root[data-theme="light"] {
	--read-color: #222222;
	--read-sub-color: #808080;
	--read-tertiary-color: #acacac;
	--background-color: #ffffff;
}

body {
	width: 100dvw;
	height: 100dvh;
	margin: 0;
	padding: 0;
	background: var(--background-color);
	font-family: var(--font);
	font-size: var(--text-font-size);
	color: var(--read-color);
}
